@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* --navbar-bg-color: hsl(0, 0%, 15%); */
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Poppins", sans-serif; /* line-height: 1.6; */
}

/* =================================================== navbar ================================================================== */
.container {
  /* max-width: 1000px; */
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
#navbar {
  --navbar-height: 64px;
  position: static;
  height: var(--navbar-height);
  /* background-color: var(--navbar-bg-color); */
  left: 0;
  right: 0;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); */
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  width: 100%;
}

.home-link,
.navbar-link {
  color: #ffff;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}
.navbar-logo {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  /* background-color: rgba(0, 0, 0, 0.4); */
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

#navbar-iconslist {
  position: absolute;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-iconslist {
  /* background-color: rgba(0, 0, 0, 0.4); */
  opacity: 1;
  visibility: visible;
}
.navbar-icons {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
}

#navbar-toggle[aria-expanded="true"] + #navbar-iconslist .navbar-icons {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-iconslist,
  #navbar-toggle[aria-expanded="true"] #navbar-iconslist {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-icons,
  #navbar-toggle[aria-expanded="true"] #navbar-iconslist .navbar-icons {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/* ============================================================================================================================= */

/* =================================================== header ================================================================== */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(
      to top,
      rgba(219, 219, 219, 0.394),
      rgba(28, 28, 28, 0.713)
    ),
    url(/stocks/header1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header-headline {
  font-size: 65px;
  font-weight: 600;
  color: #ffff;
}
.header-content {
  max-width: 1000px;
  padding-right: 20rem;
  margin-left: auto;
  margin-right: auto;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  align-items: start;
}
.header-headline-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: start;
}
.header-headline-flex ul {
  list-style-type: none !important;
}
.header-headline-flex ul a {
  text-decoration: none;
}
.header-headline-flex ul i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  background-color: #186eff;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.header-headline-flex ul a:hover i {
  color: #186eff;
  background-color: #ffff;
}

.header-headline-flex ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header-shop {
  font-size: 25px;
  font-weight: 300;
  color: #ffff;
}

.header-white-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.785);
  width: 80%;
  height: 18vh;
  gap: 80px;
  border-radius: 0px 90px 0px 0px;
}

.header-white-div-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-white-div-flex i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #186eff;
  background-color: #bcd9fd;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.header-white-div-flex div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header-white-div-headline {
  font-weight: 700;
  line-height: 1.5;
}
.header-white-div-txt {
  font-size: smaller;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(174, 172, 172);
}
.header-botton {
  display: flex;
}
@media screen and (max-width: 700px) {
  .header-headline {
    font-size: 210%;
  }
  .header-shop {
    font-size: 150%;
  }
  .header-content {
    padding-right: 0rem;
  }
  .header-white-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.785);
    width: 100%;
    height: 10vh;
    padding-left: 0rem;
    padding-right: 0rem;
    gap: 0px !important;
  }
  .header-white-div-flex div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .header-white-div-flex {
    flex-direction: column;
    gap: 3px;
  }
  
  .header-white-div-txt {
    display: none;
  }
  .header-white-div-headline {
    font-weight: 200;
    font-size: 80%;
    width: 10%;
  }
  .header-white-div-flex i {
    width: 20px;
    height: 15px;
  }
  .slider-container {
    display: none !important;
  }
}

/* ====== header slider ===========*/
.slider-container {
  display: flex;
  align-items: center;
}
.slider-container ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding-left: 6rem;
}
.slider-item i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.312);
  color: black;
}
.slider-item i:hover {
  background-color: rgba(255, 255, 255, 0.993);
}
.slider-item i:focus {
  background-color: rgba(255, 255, 255, 0.993);
}
.slider-item a {
  text-decoration: none;
}

/* ====================================== section 1 ====================== */
.section1 {
  display: flex;
  flex-direction: row;
  padding: 6rem;
  /* padding-left: 6rem; */
  /* padding-right: 6rem; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* height: 100%; */
  width: 100%;
}
.yellow-sofa {
  background-image: url("/stocks/wepik-export-20231120010459p6aM.jpeg");
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
}
.blue-chair {
  display: flex;
  flex-direction: column;
  background-image: url("/stocks/wepik-export-20231120010603blG9.jpeg");
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  gap: 10px;
}
.yellow-sofa,
.blue-chair p {
  color: #ffff;
  font-size: x-large;
}
.yellow-sofa p {
  text-align: right;
}

.blue-chair a button {
  border-radius: 20px;
  border: none;
  width: 6.5rem;
  height: 3vh;
  cursor: pointer;
  font-weight: 600;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.yellow-sofa a button {
  width: 5rem;
  height: 3vh;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.section1 button:hover {
  background-color: rgba(0, 0, 0, 0.713);
  color: #ffff;
}

/* ====================slider================================ */

.gallery {
  width: 1200px;
  display: flex;
  overflow-x: scroll;
}
.gallery-card{
  display: grid;
  grid-template-columns: auto auto;
}
.gallery div {
  scroll-snap-align: start;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.gallery div img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============ */
#nextbtn,
#backbtn {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.312);
  color: black;
}
#nextbtn,
#backbtn:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.993);
}

/* ==================== section 2 =========================== */
.section2 {
  padding-bottom: 6rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.section2-headline-botton-flex {
  display: flex;
  padding-bottom: 2.5rem;
  justify-content: space-between;
  align-items: center;
}
.section2-headline-botton-flex button {
  background-color: #ffff;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  width: 6.5rem;
  height: 5vh;
  cursor: pointer;
  font-weight: 600;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.section2-headline-botton-flex button:hover {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
}
.section2-headline-botton-flex p {
  color: #000000;
  font-size: larger;
}

/* ====================section3 ==================== */
.section3 {
  padding-left: 6rem;
  padding-bottom: 2.5rem;
  padding-right: 6rem;
}
.section3-items-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section3-item-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 35vh;
  gap: 20px;
}
.section3-headline-why {
  display: flex;
  padding-bottom: 5vh;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
  color: #000000;
}

.section3-item-flex i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #a0a0a031;
  /* color: #186eff; */
  /* background-color: #bcd9fd; */
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
}
.section3-item-flex div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section3-white-div-headline {
  font-weight: 600;
  line-height: 1.5;
}
.section3-white-div-txt {
  font-size: smaller;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(174, 172, 172);
}

@media screen and (max-width: 700px) {

.section3{
  padding-bottom: 20vh;
  padding-left: 1rem;
  padding-right: 1rem;
}
  .section3-item-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.785);
    width: 100%;
    height: 20vh;
    padding-left: 0rem;
    padding-right: 0rem;
    gap: 20%;
  }
  .yellow-sofa p
, .blue-chair p {
    color: #ffff;
    font-size: 15px;
}
.blue-chair, .yellow-sofa a button{
  font-size: 15px;
}
.section1{
  padding: 0;
  padding-bottom: 6vh;

}
}
.section3-items-flex ul:hover i{
    color: #186eff;
    background-color: #bcd9fd;
}
@media screen and (min-width: 700px) {

}

/* ======================== section4 ============================ */
.section4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 4rem;

}
section4-headline-botton-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section4-headline-botton-flex a{
color: #000000;
font-size: ;
text-decoration: none;
}
.section4-headline-botton-flex:hover p{
  color: #186eff;
}

/* ==================== footer =============== */

.footer {
  background-color: white;
  color: black;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .heading {
  color: black;
  max-width: 1010px;
  width: 20%;
  text-transform: uppercase;
  /* margin: 0 auto; */
  margin-bottom: 3rem;
}

.footer .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;

}


.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #000000;
}

.footer .content a:hover {
  border-bottom: 1px solid #186eff;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-weight: 700;
  font-size: 16px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 0 0 2rem;
}

@media (max-width: 767px) {
  .footer .content {
    display: none;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {

    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 700px) {
  .footer .content {
    display: none !important;
    
  
  }
  .footer {
    display: none;
    position: unset;
  }
}